@import "https://use.fontawesome.com/releases/v5.10.0/css/all.css"
@import "https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"

@font-face
  font-family: google-sans
  src: url("~@/assets/fonts/GoogleSans-Regular.ttf")

.google-font
  font-family: google-sans
